
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_KursLyaout.cshtml";
}

<section class="home-slide d-flex align-items-center">
    <div class="container">
        <div class="row ">
            <div class="col-md-7">
                <div class="home-slide-face aos" data-aos="fade-up">
                    <div class="home-slide-text ">
                        <h1>Zəka Kursları Yolunuzu Gözləyir </h1>
                        <p>Bizimlə birlikdə uğurlu nəticələr əldə edin.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 d-flex align-items-center">
                <div class="girl-slide-img aos" data-aos="fade-up">
                    <img src="~/dreamslms.dreamguystech.com/html/assets/img/object.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section student-course">
    <div class="container">
        <div class="course-widget">
            <div class="row">

                <div class="col-lg-4 col-md-6 d-flex">
                    <div class="course-full-width">
                        <div class="blur-border course-radius aos" data-aos="fade-up">
                            <div class="online-course d-flex align-items-center">
                                <div class="course-img">
                                    <img src="~/dreamslms.dreamguystech.com/html/assets/img/cources-icon.svg" alt="">
                                </div>
                                <div class="course-inner-content">
                                    <h4><span>20</span>+</h4>
                                    <p>Müəllimlər</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex">
                    <div class="course-full-width">
                        <div class="blur-border course-radius aos" data-aos="fade-up">
                            <div class="online-course d-flex align-items-center">
                                <div class="course-img">
                                    <img src="~/dreamslms.dreamguystech.com/html/assets/img/certificate-icon.svg" alt="">
                                </div>
                                <div class="course-inner-content">
                                    <h4><span>150</span>+</h4>
                                    <p>Uğurlu Nəticələrimiz</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex">
                    <div class="course-full-width">
                        <div class="blur-border course-radius aos" data-aos="fade-up">
                            <div class="online-course d-flex align-items-center">
                                <div class="course-img">
                                    <img src="~/dreamslms.dreamguystech.com/html/assets/img/gratuate-icon.svg" alt="">
                                </div>
                                <div class="course-inner-content">
                                    <h4><span>200</span>+</h4>
                                    <p>Tələbələr</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>








<section class="section master-skill">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="section-header aos" data-aos="fade-up">
                    <div class="section-sub-head">
                        <h2>Master the skills to drive your career</h2>
                    </div>
                </div>
                <div class="section-text aos" data-aos="fade-up">
                    <p>Get certified, master modern tech skills, and level up your career — whether you’re starting out or a seasoned pro. 95% of eLearning learners report our hands-on content directly helped their careers.</p>
                </div>
                <div class="career-group aos" data-aos="fade-up">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 d-flex">
                            <div class="certified-group blur-border d-flex">
                                <div class="get-certified d-flex align-items-center">
                                    <div class="blur-box">
                                        <div class="certified-img ">
                                            <img src="~/dreamslms.dreamguystech.com/html/assets/img/icon/icon-1.svg" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <p>Stay motivated with engaging instructors</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 d-flex">
                            <div class="certified-group blur-border d-flex">
                                <div class="get-certified d-flex align-items-center">
                                    <div class="blur-box">
                                        <div class="certified-img ">
                                            <img src="~/dreamslms.dreamguystech.com/html/assets/img/icon/icon-2.svg" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <p>Keep up with in the latest in cloud</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 d-flex">
                            <div class="certified-group blur-border d-flex">
                                <div class="get-certified d-flex align-items-center">
                                    <div class="blur-box">
                                        <div class="certified-img ">
                                            <img src="~/dreamslms.dreamguystech.com/html/assets/img/icon/icon-3.svg" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <p>Get certified with 100+ certification courses</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 d-flex">
                            <div class="certified-group blur-border d-flex">
                                <div class="get-certified d-flex align-items-center">
                                    <div class="blur-box">
                                        <div class="certified-img ">
                                            <img src="~/dreamslms.dreamguystech.com/html/assets/img/icon/icon-4.svg" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <p>Build skills your way, from labs to courses</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 d-flex align-items-end">
                <div class="career-img aos" data-aos="fade-up">
                    <img src="~/dreamslms.dreamguystech.com/html/assets/img/join.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>







<section class="section trend-course">
    <div class="container">

        @await Component.InvokeAsync("XeberlerList")


        @await Component.InvokeAsync("TelebelerList")



    </div>
</section>






