<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from dreamslms.dreamguystech.com/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 28 Jan 2023 18:48:51 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Dreams LMS</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/dreamslms.dreamguystech.com/html/assets//img/favicon.svg">

    <link rel="stylesheet" href="~/dreamslms.dreamguystech.com/html/assets//css/bootstrap.min.css">

    <link rel="stylesheet" href="~/dreamslms.dreamguystech.com/html/assets//plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/dreamslms.dreamguystech.com/html/assets//plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="~/dreamslms.dreamguystech.com/html/assets//css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/dreamslms.dreamguystech.com/html/assets//css/owl.theme.default.min.css">

    <link rel="stylesheet" href="~/dreamslms.dreamguystech.com/html/assets//plugins/slick/slick.css">
    <link rel="stylesheet" href="~/dreamslms.dreamguystech.com/html/assets//plugins/slick/slick-theme.css">

    <link rel="stylesheet" href="~/dreamslms.dreamguystech.com/html/assets//plugins/select2/css/select2.min.css">

    <link rel="stylesheet" href="~/dreamslms.dreamguystech.com/html/assets//plugins/aos/aos.css">

    <link rel="stylesheet" href="~/dreamslms.dreamguystech.com/html/assets//css/style.css">
</head>
<body>

    <div class="main-wrapper">

        <header class="header">
            <div class="header-fixed">
                <nav class="navbar navbar-expand-lg header-nav scroll-sticky">
                    <div class="container">
                        <div class="navbar-header">
                            <a id="mobile_btn" href="javascript:void(0);">
                                <span class="bar-icon">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </a>
                            <a href="index.html" class="navbar-brand logo">
                                <img src="~/dreamslms.dreamguystech.com/html/assets//img/logo.svg" class="img-fluid" alt="Logo">
                            </a>
                        </div>
                        <div class="main-menu-wrapper">
                            <div class="menu-header">
                                <a href="index.html" class="menu-logo">
                                    <img src="~/dreamslms.dreamguystech.com/html/assets//img/logo.svg" class="img-fluid" alt="Logo">
                                </a>
                                <a id="menu_close" class="menu-close" href="javascript:void(0);">
                                    <i class="fas fa-times"></i>
                                </a>
                            </div>
                            <ul class="main-nav">
                                <li class="has-submenu active">
                                    <a href="/Kurs/Index/">Ana Səhifə </a>
                                </li>
                                <li class="has-submenu">
                                    <a href="/AnaSehifeHaqqımızda/Index/">Haqqımızda </a>
                                </li>

                                <li class="has-submenu">
                                    <a href="/ASXeberler/Index">Xəbərlər </a>

                                </li>
                                <li class="has-submenu">
                                    <a href="/ASMuellim/Index/">Müəllimlər </a>

                                </li>
                                <li class="has-submenu">
                                    <a href="/ASƏlaqə/Index/">Əlaqə </a>

                                </li>
                                <li class="nav-item">
                                    <a class="nav-link header-login" href="register.html">Signup</a>
                                </li>
                            </ul>
                        </div>
                        <ul class="nav header-navbar-rht">
                            
                            <li class="nav-item">
                                <a class="nav-link header-login" href="register.html">Nəticə</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>


        @RenderBody()


        <footer class="footer">

            <div class="footer-top aos" data-aos="fade-up">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">

                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="~/dreamslms.dreamguystech.com/html/assets//img/logo.svg" alt="logo">
                                </div>
                                <div class="footer-about-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat mauris Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consequat mauris</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Instructor</h2>
                                <ul>
                                    <li><a href="instructor-profile.html">Profile</a></li>
                                    <li><a href="login.html">Login</a></li>

                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Student</h2>
                                <ul>
                                    <li><a href="student-profile.html">Profile</a></li>
                                    <li><a href="login.html">Login</a></li>

                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-6">

                            <div class="footer-widget footer-contact">

                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <img src="~/dreamslms.dreamguystech.com/html/assets//img/icon/icon-20.svg" alt="" class="img-fluid">
                                        <p> 3556 Beech Street, San Francisco,<br> California, CA 94108 </p>
                                    </div>
                                    <p>
                                        <img src="~/dreamslms.dreamguystech.com/html/assets//img/icon/icon-19.svg" alt="" class="img-fluid">
                                        <a href="https://dreamslms.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="96f2e4f3f7fbe5fafbe5d6f3eef7fbe6faf3b8f5f9fb">[email&#160;protected]</a>
                                    </p>
                                    <p class="mb-0">
                                        <img src="~/dreamslms.dreamguystech.com/html/assets//img/icon/icon-21.svg" alt="" class="img-fluid">
                                        +19 123-456-7890
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="footer-bottom">
                <div class="container">

                    <div class="copyright">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="privacy-policy">
                                    <ul>
                                        <li><a href="term-condition.html">Terms</a></li>
                                        <li><a href="privacy-policy.html">Privacy</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="copyright-text">
                                    <p class="mb-0">&copy; 2023 DreamsLMS. All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </footer>

    </div>

    <script src="~/dreamslms.dreamguystech.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/dreamslms.dreamguystech.com/html/assets//js/jquery-3.6.0.min.js"></script>

    <script src="~/dreamslms.dreamguystech.com/html/assets//js/bootstrap.bundle.min.js"></script>

    <script src="~/dreamslms.dreamguystech.com/html/assets//js/jquery.waypoints.js"></script>
    <script src="~/dreamslms.dreamguystech.com/html/assets//js/jquery.counterup.min.js"></script>

    <script src="~/dreamslms.dreamguystech.com/html/assets//plugins/select2/js/select2.min.js"></script>

    <script src="~/dreamslms.dreamguystech.com/html/assets//js/owl.carousel.min.js"></script>

    <script src="~/dreamslms.dreamguystech.com/html/assets//plugins/slick/slick.js"></script>

    <script src="~/dreamslms.dreamguystech.com/html/assets//plugins/aos/aos.js"></script>

    <script src="~/dreamslms.dreamguystech.com/html/assets//js/script.js"></script>
</body>

<!-- Mirrored from dreamslms.dreamguystech.com/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 28 Jan 2023 18:49:23 GMT -->
</html>
