@using EntityLayer.Concrate
@model List<Müəllimlər>
<div class="col-md-4  grid-margin stretch-card">
    <div class="card">
        <div class="card-body">



            <h4 class="card-title">Müəllimlər</h4>
            <div class="owl-carousel owl-theme full-width owl-carousel-dash portfolio-carousel" id="owl-carousel-basic">
                @foreach (var item in Model)
                {
                    <div class="item">
                        <img src="@item.Şəkil" alt="" width="100%" style="margin-bottom:10px;">
                        <div class="flex-grow">
                            <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                <h6 class="preview-subject">@item.Ad @item.Soyad</h6>
                            </div>
                            <p class="text-muted">@item.İxtisas</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>