@model EntityLayer.Concrate.Müəllimlər
@{
    ViewData["Title"] = "AddMüəllimlər";
    Layout = "~/Views/Shared/_AdminLyaout.cshtml";
}

@using (Html.BeginForm("AddMüəllimlər", "Müəllimlər", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> Yeni Müəllimlər Yüklə </p>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>Ad</label>
                        <input type="text" class="form-control" name="Ad">
                    </div>
                    <div class="form-group">
                        <label>Soyad</label>
                        <input type="text" class="form-control" name="Soyad">
                    </div>
                    <div class="form-group">
                        <label>İxtisas</label>
                        <input type="text" class="form-control" name="İstisas">
                    </div>
                    <div class="form-group">
                        <label>Şəkil</label>
                        <input type="text" class="form-control" name="Şəkil">
                    </div>


                    <div class="form-group">
                        <label>Məlumat</label>
                        @Html.TextAreaFor(x => x.Məlumat, 3, 10, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Yüklə</button>
                    <a href="/Müəllimlər/Index" class="btn btn-danger">Ləğv Et</a>
                </form>
            </div>
        </div>
    </div>
}

